---

_You are currently looking at **version 1.2** of this notebook. To download notebooks and datafiles, as well as get help on Jupyter notebooks in the Coursera platform, visit the [Jupyter Notebook FAQ](https://www.coursera.org/learn/python-data-analysis/resources/0dhYG) course resource._

---

# Assignment 2 - Pandas Introduction
All questions are weighted the same in this assignment.
## Part 1
The following code loads the olympics dataset (olympics.csv), which was derrived from the Wikipedia entry on [All Time Olympic Games Medals](https://en.wikipedia.org/wiki/All-time_Olympic_Games_medal_table), and does some basic data cleaning. 

The columns are organized as # of Summer games, Summer medals, # of Winter games, Winter medals, total # number of games, total # of medals. Use this dataset to answer the questions below.

In [1]:
import pandas as pd

df = pd.read_csv('olympics.csv', index_col=0, skiprows=1)

for col in df.columns:
    if col[:2]=='01':
        df.rename(columns={col:'Gold'+col[4:]}, inplace=True)
    if col[:2]=='02':
        df.rename(columns={col:'Silver'+col[4:]}, inplace=True)
    if col[:2]=='03':
        df.rename(columns={col:'Bronze'+col[4:]}, inplace=True)
    if col[:1]=='â„–':
        df.rename(columns={col:'#'+col[1:]}, inplace=True)

names_ids = df.index.str.split('\s\(') # split the index by '('

df.index = names_ids.str[0] # the [0] element is the country name (new index) 
df['ID'] = names_ids.str[1].str[:3] # the [1] element is the abbreviation or ID (take first 3 characters from that)

df = df.drop('Totals')
df.head()

,# Summer,Gold,Silver,Bronze,Total,# Winter,Gold.1,Silver.1,Bronze.1,Total.1,# Games,Gold.2,Silver.2,Bronze.2,Combined total,ID
Afghanistan,13,0,0,2,2,0,0,0,0,0,13,0,0,2,2,AFG
Algeria,12,5,2,8,15,3,0,0,0,0,15,5,2,8,15,ALG
Argentina,23,18,24,28,70,18,0,0,0,0,41,18,24,28,70,ARG
Armenia,5,1,2,9,12,6,0,0,0,0,11,1,2,9,12,ARM
Australasia,2,3,4,5,12,0,0,0,0,0,2,3,4,5,12,ANZ

In [2]:
mydf1 = ((df.loc[:,'Gold'] - df.loc[:,'Gold.1']) / df.loc[:,'Gold.2']).sort_values(ascending=False)

In [3]:
hey = df.rename(columns={'Gold.1': 'temp'})

In [4]:
hey.head()

,# Summer,Gold,Silver,Bronze,Total,# Winter,temp,Silver.1,Bronze.1,Total.1,# Games,Gold.2,Silver.2,Bronze.2,Combined total,ID
Afghanistan,13,0,0,2,2,0,0,0,0,0,13,0,0,2,2,AFG
Algeria,12,5,2,8,15,3,0,0,0,0,15,5,2,8,15,ALG
Argentina,23,18,24,28,70,18,0,0,0,0,41,18,24,28,70,ARG
Armenia,5,1,2,9,12,6,0,0,0,0,11,1,2,9,12,ARM
Australasia,2,3,4,5,12,0,0,0,0,0,2,3,4,5,12,ANZ

In [5]:
hey = hey[(hey.Gold >=1)]

In [6]:
arr = hey[hey.temp >=1].index.values

In [7]:
mydf1[mydf1.index.isin(arr)]

Bulgaria                  0.961538
Spain                     0.947368
Belgium                   0.947368
Australia                 0.930556
Czechoslovakia            0.921569
Great Britain             0.918699
China                     0.887324
Ukraine                   0.885714
Kazakhstan                0.882353
Japan                     0.857143
Poland                    0.828571
United States             0.820896
France                    0.733906
Italy                     0.685106
West Germany              0.671642
Soviet Union              0.670190
Uzbekistan                0.666667
Unified Team              0.666667
East Germany              0.593750
Slovakia                  0.555556
United Team of Germany    0.555556
South Korea               0.514019
Sweden                    0.481865
Russia                    0.458564
Finland                   0.412587
Estonia                   0.384615
Germany                   0.380952
Netherlands               0.350877
Czech Republic            0.333333
Belarus                   0.333333
Slovenia                  0.333333
Croatia                   0.200000
Canada                   -0.024793
Switzerland              -0.030928
Norway                   -0.356322
Austria                  -0.532468
dtype: float64

In [8]:
df['Gold'] * 3

Afghanistan                            0
Algeria                               15
Argentina                             54
Armenia                                3
Australasia                            9
Australia                            417
Austria                               54
Azerbaijan                            18
Bahamas                               15
Bahrain                                0
Barbados                               0
Belarus                               36
Belgium                              111
Bermuda                                0
Bohemia                                0
Botswana                               0
Brazil                                69
British West Indies                    0
Bulgaria                             153
Burundi                                3
Cameroon                               9
Canada                               177
Chile                                  6
China                                603
Colombia                               6
Costa Rica                             3
Ivory Coast                            0
Croatia                               18
Cuba                                 216
Cyprus                                 0
                                    ...
Spain                                111
Sri Lanka                              0
Sudan                                  0
Suriname                               3
Sweden                               429
Switzerland                          141
Syria                                  3
Chinese Taipei                         6
Tajikistan                             0
Tanzania                               0
Thailand                              21
Togo                                   0
Tonga                                  0
Trinidad and Tobago                    6
Tunisia                                9
Turkey                               117
Uganda                                 6
Ukraine                               99
United Arab Emirates                   3
United States                       2928
Uruguay                                6
Uzbekistan                            15
Venezuela                              6
Vietnam                                0
Virgin Islands                         0
Yugoslavia                            78
Independent Olympic Participants       0
Zambia                                 0
Zimbabwe                               9
Mixed team                            24
Name: Gold, dtype: int64

### Question 0 (Example)

What is the first country in df?

*This function should return a Series.*

In [9]:
# You should write your whole answer within the function provided. The autograder will call
# this function and compare the return value against the correct solution value
def answer_zero():
    # This function returns the row for Afghanistan, which is a Series object. The assignment
    # question description will tell you the general format the autograder is expecting
    return df.iloc[0]

# You can examine what your function returns by calling it in the cell. If you have questions
# about the assignment formats, check out the discussion forums for any FAQs
answer_zero()

# Summer           13
Gold                0
Silver              0
Bronze              2
Total               2
# Winter            0
Gold.1              0
Silver.1            0
Bronze.1            0
Total.1             0
# Games            13
Gold.2              0
Silver.2            0
Bronze.2            2
Combined total      2
ID                AFG
Name: Afghanistan, dtype: object

### Question 1
Which country has won the most gold medals in summer games?

*This function should return a single string value.*

In [10]:
def answer_one():
    return "United States"

### Question 2
Which country had the biggest difference between their summer and winter gold medal counts?

*This function should return a single string value.*

In [11]:
def answer_two():
    return "United States"

### Question 3
Which country has the biggest difference between their summer gold medal counts and winter gold medal counts relative to their total gold medal count? 

$$\frac{Summer~Gold - Winter~Gold}{Total~Gold}$$

Only include countries that have won at least 1 gold in both summer and winter.

*This function should return a single string value.*

In [12]:
def answer_three():
    return "Bulgaria"

### Question 4
Write a function that creates a Series called "Points" which is a weighted value where each gold medal (`Gold.2`) counts for 3 points, silver medals (`Silver.2`) for 2 points, and bronze medals (`Bronze.2`) for 1 point. The function should return only the column (a Series object) which you created, with the country names as indices.

*This function should return a Series named `Points` of length 146*

In [13]:
def answer_four():
    df['Points'] = df['Gold.2'] * 3 + df['Silver.2'] * 2 + df['Bronze.2']  
    return df['Points']

## Part 2
For the next set of questions, we will be using census data from the [United States Census Bureau](http://www.census.gov). Counties are political and geographic subdivisions of states in the United States. This dataset contains population data for counties and states in the US from 2010 to 2015. [See this document](https://www2.census.gov/programs-surveys/popest/technical-documentation/file-layouts/2010-2015/co-est2015-alldata.pdf) for a description of the variable names.

The census dataset (census.csv) should be loaded as census_df. Answer questions using this as appropriate.

### Question 5
Which state has the most counties in it? (hint: consider the sumlevel key carefully! You'll need this for future questions too...)

*This function should return a single string value.*

In [32]:
census_df = pd.read_csv('census.csv')
census_df.head()

,SUMLEV,REGION,DIVISION,STATE,COUNTY,STNAME,CTYNAME,CENSUS2010POP,ESTIMATESBASE2010,POPESTIMATE2010,...,RDOMESTICMIG2011,RDOMESTICMIG2012,RDOMESTICMIG2013,RDOMESTICMIG2014,RDOMESTICMIG2015,RNETMIG2011,RNETMIG2012,RNETMIG2013,RNETMIG2014,RNETMIG2015
0,40,3,6,1,0,Alabama,Alabama,4779736,4780127,4785161,...,0.002295,-0.193196,0.381066,0.582002,-0.467369,1.030015,0.826644,1.383282,1.724718,0.712594
1,50,3,6,1,1,Alabama,Autauga County,54571,54571,54660,...,7.242091,-2.915927,-3.012349,2.265971,-2.530799,7.606016,-2.626146,-2.722002,2.592270,-2.187333
2,50,3,6,1,3,Alabama,Baldwin County,182265,182265,183193,...,14.832960,17.647293,21.845705,19.243287,17.197872,15.844176,18.559627,22.727626,20.317142,18.293499
3,50,3,6,1,5,Alabama,Barbour County,27457,27457,27341,...,-4.728132,-2.500690,-7.056824,-3.904217,-10.543299,-4.874741,-2.758113,-7.167664,-3.978583,-10.543299
4,50,3,6,1,7,Alabama,Bibb County,22915,22919,22861,...,-5.527043,-5.068871,-6.201001,-0.177537,0.177258,-5.088389,-4.363636,-5.403729,0.754533,1.107861

In [15]:
census_df.groupby(['STNAME']).COUNTY.sum().sort_values(ascending=False)

STNAME
Texas                   64516
Virginia                35111
Georgia                 25677
Kentucky                14400
Missouri                13537
Kansas                  11025
Illinois                10404
North Carolina          10000
Iowa                     9801
Tennessee                9025
Nebraska                 8649
Indiana                  8464
Ohio                     7744
Minnesota                7569
Michigan                 6889
Mississippi              6724
Oklahoma                 5929
Arkansas                 5625
Wisconsin                5119
Florida                  4550
Alabama                  4489
Pennsylvania             4489
South Dakota             4485
Alaska                   4340
Louisiana                4096
Colorado                 3983
New York                 3844
California               3364
Montana                  3136
West Virginia            3025
North Dakota             2809
South Carolina           2116
Idaho                    1936
Washington               1521
Oregon                   1296
Maryland                 1079
New Mexico                995
Utah                      841
Nevada                    774
Wyoming                   529
New Jersey                441
Maine                     256
Arizona                   208
Vermont                   196
Massachusetts             196
New Hampshire             100
Connecticut                64
Hawaii                     25
Rhode Island               25
Delaware                    9
District of Columbia        1
Name: COUNTY, dtype: int64

In [16]:
def answer_five():
    return "Texas"

### Question 6
**Only looking at the three most populous counties for each state**, what are the three most populous states (in order of highest population to lowest population)? Use `CENSUS2010POP`.

*This function should return a list of string values.*

In [18]:
def answer_six():
    df1 = pd.DataFrame(census_df.where(census_df['SUMLEV'] == 50).groupby(['STNAME'])['POPESTIMATE2015'].nlargest(3))
    df1 = df1.reset_index()

    return list(df1.groupby(['STNAME']).sum()['POPESTIMATE2015'].nlargest(3).index)

### Question 7
Which county has had the largest absolute change in population within the period 2010-2015? (Hint: population values are stored in columns POPESTIMATE2010 through POPESTIMATE2015, you need to consider all six columns.)

e.g. If County Population in the 5 year period is 100, 120, 80, 105, 100, 130, then its largest change in the period would be |130-80| = 50.

*This function should return a single string value.*

In [41]:
cen_df = census_df.copy()
census_df = census_df[census_df.SUMLEV == 50]

In [42]:
census_df.iloc[:,9:15].head()

,POPESTIMATE2010,POPESTIMATE2011,POPESTIMATE2012,POPESTIMATE2013,POPESTIMATE2014,POPESTIMATE2015
1,54660,55253,55175,55038,55290,55347
2,183193,186659,190396,195126,199713,203709
3,27341,27226,27159,26973,26815,26489
4,22861,22733,22642,22512,22549,22583
5,57373,57711,57776,57734,57658,57673

In [43]:
census_df['2010-2011'] = abs(census_df.iloc[:,9] - census_df.iloc[:,10])

In [44]:
census_df['2011-2012'] = abs(census_df.iloc[:,10] - census_df.iloc[:,11])
census_df['2012-2013'] = abs(census_df.iloc[:,11] - census_df.iloc[:,12])
census_df['2013-2014'] = abs(census_df.iloc[:,12] - census_df.iloc[:,13])
census_df['2014-2015'] = abs(census_df.iloc[:,13] - census_df.iloc[:,14])

In [45]:
census_df.iloc[:,-5:].max()

2010-2011    73051
2011-2012    81266
2012-2013    89958
2013-2014    95115
2014-2015    90451
dtype: int64

In [46]:
census_df[census_df['2013-2014'] == 95115]

,SUMLEV,REGION,DIVISION,STATE,COUNTY,STNAME,CTYNAME,CENSUS2010POP,ESTIMATESBASE2010,POPESTIMATE2010,...,RNETMIG2011,RNETMIG2012,RNETMIG2013,RNETMIG2014,RNETMIG2015,2010-2011,2011-2012,2012-2013,2013-2014,2014-2015
2667,50,3,7,48,201,Texas,Harris County,4092459,4093076,4108187,...,7.154417,8.915715,10.683269,11.850629,10.303814,73051,81266,89958,95115,90451

In [47]:
def answer_seven():
    return "Harris County"

### Question 8
In this datafile, the United States is broken up into four regions using the "REGION" column. 

Create a query that finds the counties that belong to regions 1 or 2, whose name starts with 'Washington', and whose POPESTIMATE2015 was greater than their POPESTIMATE 2014.

*This function should return a 5x2 DataFrame with the columns = ['STNAME', 'CTYNAME'] and the same index ID as the census_df (sorted ascending by index).*

In [54]:
def answer_eight():
    return cen_df[((cen_df['REGION'] == 1) | (cen_df['REGION'] == 2)) & (cen_df['CTYNAME'].str.startswith("Washington")) & (cen_df['POPESTIMATE2015'] > cen_df['POPESTIMATE2014'])].loc[:,['STNAME','CTYNAME']]

In [55]:
answer_eight()

            STNAME            CTYNAME
896           Iowa  Washington County
1419     Minnesota  Washington County
2345  Pennsylvania  Washington County
2355  Rhode Island  Washington County
3163     Wisconsin  Washington County